<h1 style="font-size: 40px">Doctor</h1>
<div>
    <div style="float: right">
        <p style="text-align:center;"><img src="https://img.freepik.com/free-photo/attractive-young-male-nutriologist-lab-coat-smiling-against-white-background_662251-2960.jpg" height="300px" width="600px"></p>
    </div>
    <div>
        <p style="font-size: xx-large;">A doctor is a licensed medical professional who is trained to diagnose and treat illnesses, injuries, and medical conditions in patients. Doctors can specialize in a 
            particular area of medicine, such as cardiology, pediatrics, or oncology, among others. </p>
        <p style="font-size: xx-large;">To become a doctor, one must first complete a bachelor's degree, followed by
            medical school, which typically takes four years to complete. After medical school, doctors must complete a residency program, which can take anywhere from three to 
            seven years, depending on their area of specialization. During this time, they work under the supervision of experienced doctors and gain hands-on experience in 
            treating patients. </p>    
        <p style="font-size: xx-large;">Doctors play a vital role in the healthcare system, and their work involves examining patients, ordering diagnostic tests, prescribing 
            medications,and performing medical procedures when necessary. They also provide guidance on reventive care, such as vaccinations and lifestyle changes, to help 
            patients maintain their health and prevent illnesses from occurring in the first place.</p>    
        <p style="font-size: xx-large;">Overall, being a doctor is a highly demanding and challenging profession, but it can also be incredibly rewarding, as doctors have the 
            opportunity to make a significant impact on the lives of their patients.</p>    
    </div>    
</div>
<h1>Types:</h1>
<ul style="font-size: xx-large;">
    <li>General Practitioners/Family Physicians</li>
    <li>Pediatricians</li>
    <li>Obstetricians/Gynecologists</li>
    <li>Obstetricians/Gynecologists</li>
    <li>Cardiologists</li>
    <li>Neurologists</li>
    <li>Psychiatrists</li>
    <li>Dermatologists</li>
    <li>Oncologists</li>
    <li>Endocrinologists</li>
    <li>Gastroenterologists</li>
    <li>Pulmonologists</li>
    <li>Rheumatologists</li>
    <li>Orthopedists</li>
    <li>Ophthalmologists</li>
    <li>ENT (Ear, Nose, and Throat) Specialists.</li>
</ul>    











